<div class="table_container">
  <table>
    <tr>
      <% if show_class %>
        <th>Class</th>
      <% end %>
      <th>Started</th>
      <th>Duration</th>
      <th>Parameters</th>
      <th>Error</th>
    </tr>
    <% jobs.each do |job_details| %>
      <tr<%= job_details.succeeded? ? "" : " class=\"job_history_error\"" %>>
        <% if show_class %>
          <td>
            <a href="<%= u("job_history/job_class_details") %>?<%=
              { class_name: job_details.class_name }.to_param %>">
              <%= job_details.class_name %>
            </a>
          </td>
        <% end %>
        <td>
          <a href="<%= u("job_history/job_details") %>?class_name=<%=
            job_details.class_name %>&job_id=<%= job_details.job_id %>">
            <% if job_details.start_time %>
              <%= time_ago_in_words(job_details.start_time) %> ago
              (<%= job_details.start_time %>)
            <% else %>
              Error - missing start time
            <% end %>
          </a>
        </td>
        <td>
          <% if job_details.start_time %>
            <%= distance_of_time_in_words(job_details.start_time, (job_details.end_time || Time.now)) %>
            <% if job_details.finished? %>
              (<%= job_details.end_time %>)
            <% end %>
          <% end %>
        </td>
        <td>
          <pre><code><%= "".html_safe + job_details.uncompressed_args.to_yaml %></code></pre>
        </td>
        <td>
          <%= job_details.error %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
