<% if history_list.num_jobs > 0 %>
  <h1><%= description %></h1>

  <% jobs = history_list.paged_jobs(page_num, page_size) %>
  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_pagination.erb")),
          locals: { history_list:        history_list,
                    class_name:          class_name,
                    page_num:            page_num,
                    page_size:           page_size,
                    primary_type:        primary_type,
                    secondary_type:      secondary_type,
                    secondary_page_num:  secondary_page_num,
                    secondary_page_size: secondary_page_size }) %>

  <div class="table_container">
    <table>
      <tr>
        <th>Started</th>
        <th>Duration</th>
        <th>Parameters</th>
        <th>Error</th>
      </tr>
      <% jobs.each do |job_details| %>
        <tr>
          <td>
            <a href="job_details?class_name=<%= job_details.class_name %>&job_id=<%= job_details.job_id %>">
              <%= time_ago_in_words(job_details.start_time) %> ago
              (<%= job_details.start_time %>)
            </a>
          </td>
          <td>
            <%= distance_of_time_in_words(job_details.start_time, (job_details.end_time || Time.now)) %>
            <% if job_details.finished? %>
              (<%= job_details.end_time %>)
            <% end %>
          </td>
          <td>
            <pre><code><%= "".html_safe + job_details.args.to_yaml %></code></pre>
          </td>
          <td>
            <%= job_details.error %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_pagination.erb")),
          locals: { history_list:        history_list,
                    class_name:          class_name,
                    page_num:            page_num,
                    page_size:           page_size,
                    primary_type:        primary_type,
                    secondary_type:      secondary_type,
                    secondary_page_num:  secondary_page_num,
                    secondary_page_size: secondary_page_size }) %>
<% end %>
