<div class="job_history_pagination_block">
  <% total_pages = history_list.num_jobs / page_size %>
  <% total_pages += 1 if history_list.num_jobs % page_size > 0 %>
  <% first_page = [1, page_num - 3].max %>
  <% last_page = [total_pages, page_num + 3].min %>
  <% last_page = page_num < 4 ? [total_pages, last_page + (4 - page_num)].min : last_page %>
  <% first_page = page_num > total_pages - 3 ? [1, first_page + ((total_pages - page_num) - 3)].max : first_page %>

  <% if total_pages > 1 %>
    <div class="job_history_prev_links">
      <a href="job_class_details?<%= { class_name:                   class_name,
                                       "#{primary_type}_page_size"   => page_size,
                                       "#{primary_type}_page_num"    => 1,
                                       "#{secondary_type}_page_size" => secondary_page_size,
                                       "#{secondary_type}_page_num"  => secondary_page_num }.to_param %>"
         class="job_history_first_page"
         disabled="<%= first_page > 1 %>">
        &lt;&lt; First
      </a>

      <a href="job_class_details?<%= { class_name:                   class_name,
                                       "#{primary_type}_page_size"   => page_size,
                                       "#{primary_type}_page_num"    => [1, page_num - 1].max,
                                       "#{secondary_type}_page_size" => secondary_page_size,
                                       "#{secondary_type}_page_num"  => secondary_page_num }.to_param %>"
         class="job_history_prev_page"
         disabled="<%= page_num > 1 %>">
        &lt; Prev
      </a>
    </div>

    <div class="job_history_pages">
      <% (first_page..last_page).each do |page_number| %>
        <% if page_number != page_num %>
          <a href="job_class_details?<%= { class_name:                   class_name,
                                           "#{primary_type}_page_size"   => page_size,
                                           "#{primary_type}_page_num"    => page_number,
                                           "#{secondary_type}_page_size" => secondary_page_size,
                                           "#{secondary_type}_page_num"  => secondary_page_num }.to_param %>"
             class="job_history_page">
            <%= page_number %>
          </a>
        <% else %>
          <%= page_number %>
        <% end %>
      <% end %>
    </div>

    <div class="job_history_next_links">
      <a href="job_class_details?<%= { class_name:                   class_name,
                                       "#{primary_type}_page_size"   => page_size,
                                       "#{primary_type}_page_num"    => [total_pages, page_num + 1].min,
                                       "#{secondary_type}_page_size" => secondary_page_size,
                                       "#{secondary_type}_page_num"  => secondary_page_num }.to_param %>"
         class="job_history_next_page"
         disabled="<%= page_num < last_page %>">
        Next &gt;
      </a>

      <a href="job_class_details?<%= { class_name:                   class_name,
                                       "#{primary_type}_page_size"   => page_size,
                                       "#{primary_type}_page_num"    => total_pages,
                                       "#{secondary_type}_page_size" => secondary_page_size,
                                       "#{secondary_type}_page_num"  => secondary_page_num }.to_param %>"
         class="job_history_last_page"
         disabled="<%= last_page < total_pages %>">
        Last &gt;&gt;
      </a>
    </div>
  <% end %>
</div>
