<% if jobs.present? %>
  <h1><%= description %></h1>

  <table>
    <tr>
      <th>Started</th>
      <th>Duration</th>
      <th>Parameters</th>
      <th>Error</th>
    </tr>
    <% jobs.each do |job_details| %>
      <tr>
        <td>
          <a href="job_details?class_name=<%= job_details[:class_name] %>&job_id=<%= job_details[:job_id] %>">
            <%= time_ago_in_words(job_details[:start_time]) %> ago
            (<%= job_details[:start_time] %>)
          </a>
        </td>
        <td>
          <%= distance_of_time_in_words(job_details[:start_time], (job_details[:end_time] || Time.now)) %>
          <% if job_details[:end_time] %>
            (<%= job_details[:end_time] %>)
          <% end %>
        </td>
        <td>
          <pre><code><%= "".html_safe + Resque::Plugins::JobHistory::ClassMethods.decode_args(job_details[:args]).to_yaml %></code></pre>
        </td>
        <td>
          <%= job_details[:error] %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>