<link href="job_history/public/job_history.css" media="screen" rel="stylesheet" type="text/css">

<h1>Job Classes</h1>

<% job_list = Resque::Plugins::JobHistory::JobList.new %>

<p>
  <a href="<%= u("job history/linear_history") %>">
    Linear History
  </a>
</p>

<%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_class_pagination.erb")),
        locals: { job_list: job_list, page_num: @page_num, page_size: @page_size }) %>

<div class="table_container">
  <table>
    <tr>
      <th><a href="job%20history?<%= { sort:      "class_name",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("class_name", @sort_by, @sort_order) }.to_param %>">
        Class name
      </a></th>
      <th><a href="job%20history?<%= { sort:      "num_running_jobs",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("num_running_jobs", @sort_by, @sort_order) }.to_param %>">
        Running
      </a></th>
      <th><a href="job%20history?<%= { sort:      "total_run_jobs",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("total_run_jobs", @sort_by, @sort_order) }.to_param %>">
        Total Run
      </a></th>
      <th><a href="job%20history?<%= { sort:      "total_finished_jobs",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("total_finished_jobs", @sort_by, @sort_order) }.to_param %>">
        Finished
      </a></th>
      <th><a href="job%20history?<%= { sort:      "max_concurrent_jobs",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("max_concurrent_jobs", @sort_by, @sort_order) }.to_param %>">
        Max Running
      </a></th>
      <th><a href="job%20history?<%= { sort:      "start_time",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("start_time", @sort_by, @sort_order) }.to_param %>">
        Last Run Start
      </a></th>
      <th><a href="job%20history?<%= { sort:      "duration",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("duration", @sort_by, @sort_order) }.to_param %>">
        Last Run Duration
      </a></th>
      <th><a href="job%20history?<%= { sort:      "success",
                                       page_size: @page_size,
                                       page_num:  @page_num,
                                       order:     job_list.
                                           order_param("success", @sort_by, @sort_order) }.to_param %>">
        Last Run successful
      </a></th>
    </tr>

    <% job_list.job_summaries(@sort_by, @sort_order, @page_num, @page_size).each do |class_info| %>
      <tr<%= class_info.last_run && !class_info.last_run.succeeded? ? " class=\"job_history_error\"" : "" %>>
        <td>
          <a href="job%20history/job_class_details?class_name=<%= class_info.class_name %>">
            <%= class_info.class_name %>
          </a>
        </td>
        <td>
          <%= class_info.num_running_jobs.to_i %>
        </td>
        <td>
          <%= class_info.total_run_jobs.to_i %>
        </td>
        <td>
          <%= class_info.total_finished_jobs.to_i %>
        </td>
        <td>
          <%= class_info.max_concurrent_jobs.to_i %>
        </td>
        <td>
          <% if class_info.last_run && class_info.last_run.start_time %>
            <%= time_ago_in_words(class_info.last_run.start_time) %> ago
            (<%= class_info.last_run.start_time %>)
          <% end %>
        </td>
        <td>
          <% if class_info.last_run %>
            <% if class_info.last_run.finished? %>
              <%= distance_of_time_in_words(class_info.last_run.start_time, class_info.last_run.end_time) %>
              (<%= class_info.last_run.end_time %>)
            <% else %>
              Still running...
            <% end %>
          <% end %>
        </td>
        <td>
          <% if class_info.last_run && !class_info.last_run.succeeded? %>
            No
          <% else %>
            Yes
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_class_pagination.erb")),
        locals: { job_list: job_list, page_num: @page_num, page_size: @page_size }) %>

<br/>

<div>
  <form method="POST" action="job%20history/purge_all">
    <input type="submit" name="" value="Purge all histories"/>
  </form>
</div>
