<link href="job_history/public/job_history.css" media="screen" rel="stylesheet" type="text/css">

<h1><%= @job_class_name %></h1>

<% job_list = Resque::Plugins::JobHistory::JobList.new %>
<% history = Resque::Plugins::JobHistory::HistoryDetails.new(@job_class_name) %>
<% class_info = job_list.job_class_summary(@job_class_name) %>

<a href="<%= u("job history") %>">
  Job History
</a>

<table>
  <tr>
    <td>
      Running jobs
    </td>
    <td>
      <%= class_info[:running_jobs].to_i %>
    </td>
  </tr>
  <tr>
    <td>
      Total jobs run
    </td>
    <td>
      <%= class_info[:total_run_jobs].to_i %>
    </td>
  </tr>
  <tr>
    <td>
      Total jobs finished
    </td>
    <td>
      <%= class_info[:total_finished_jobs].to_i %>
    </td>
  </tr>
  <tr>
    <td>
      Total jobs in history
    </td>
    <td>
      <%= class_info[:finished_jobs].to_i %>
    </td>
  </tr>
  <tr>
    <td>
      Maximum number of consecutive jobs seen
    </td>
    <td>
      <%= class_info[:max_running_jobs].to_i %>
    </td>
  </tr>
  <tr>
    <td>
      Is still valid job
    </td>
    <td>
      <%= class_info[:class_name_valid] %>
    </td>
  </tr>
</table>

<%=
  erb(
      File.read(Resque::JobHistoryServer.erb_path("_jobs_list.erb")),
      locals: { history_list:        history.running_jobs,
                description:         "Running Jobs",
                class_name:          @job_class_name,
                page_num:            @running_page_num,
                page_size:           @running_page_size,
                primary_type:        "running",
                secondary_type:      "finished",
                secondary_page_num:  @finished_page_num,
                secondary_page_size: @finished_page_size }
  )
%>

<%=
  erb(
      File.read(Resque::JobHistoryServer.erb_path("_jobs_list.erb")),
      locals: { history_list:        history.finished_jobs,
                description:         "Finished Jobs",
                class_name:          @job_class_name,
                page_num:            @finished_page_num,
                page_size:           @finished_page_size,
                primary_type:        "finished",
                secondary_type:      "running",
                secondary_page_num:  @running_page_num,
                secondary_page_size: @running_page_size }
  )
%>

<br/>

<% if Resque::Plugins::JobHistory::Cleaner.similar_name?(@job_class_name) %>
  This class cannot be purged because of another class with a similar name.  The other class must
  be purged before this one can be safely purged.
<% else %>
  <form method="POST" action="purge_class?<%= { class_name: @job_class_name }.to_param %>">
    <input type="submit" name="" value="Purge all histories for <%= @job_class_name %>"/>
  </form>
<% end %>
