<link href="<%= u("job_history/public/job_history.css") %>" media="screen" rel="stylesheet" type="text/css">

<h1>Job Classes</h1>

<% job_list = Resque::Plugins::JobHistory::JobList.new %>

<div>
  <div class="job_history_linear_history_div">
    <a href="<%= u("job history/linear_history") %>">
      Linear History
    </a>
  </div>

  <% job_search = Resque::Plugins::JobHistory::JobSearch.
      new(search_type: "search_all") %>
  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_search_form.erb")),
          locals: { job_search: job_search }) %>
</div>
<div class="job_history_reset" />

<%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_class_pagination.erb")),
        locals: { job_list: job_list, page_num: @page_num, page_size: @page_size }) %>

<div class="table_container">
  <table>
    <tr>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "class_name",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("class_name", @sort_by, @sort_order) }.to_param %>">
        Class name
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "num_running_jobs",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("num_running_jobs", @sort_by, @sort_order) }.to_param %>">
        Running
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "total_run_jobs",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("total_run_jobs", @sort_by, @sort_order) }.to_param %>">
        Total Run
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "total_finished_jobs",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("total_finished_jobs", @sort_by, @sort_order) }.to_param %>">
        Finished
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "total_failed_jobs",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("total_failed_jobs", @sort_by, @sort_order) }.to_param %>">
        Failed
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "start_time",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("start_time", @sort_by, @sort_order) }.to_param %>">
        Last Run Start
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "duration",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("duration", @sort_by, @sort_order) }.to_param %>">
        Last Run Duration
      </a></th>
      <th><a href="<%= u("job history") %>?<%=
        { sort:      "success",
          page_size: @page_size,
          page_num:  @page_num,
          order:     job_list.
              order_param("success", @sort_by, @sort_order) }.to_param %>">
        Last Run successful
      </a></th>
    </tr>

    <%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_summary_rows.erb")),
            locals: { summary_rows: job_list.job_summaries(@sort_by, @sort_order, @page_num, @page_size) }) %>
  </table>
</div>

<%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_class_pagination.erb")),
        locals: { job_list: job_list, page_num: @page_num, page_size: @page_size }) %>

<br/>

<div>
  <form method="POST" action="<%= u("job history/purge_all") %>">
    <input type="submit" name="" value="Purge all histories"/>
  </form>
</div>
<div class="job_history_reset"/>
