<link href="<%= u("job_history/public/job_history.css") %>" media="screen" rel="stylesheet" type="text/css">

<h1>Linear History</h1>

<div>
  <div class="job_history_linear_history_div">
    <a href="<%= u("job_history") %>">
      Job History
    </a>
  </div>

  <% job_search = Resque::Plugins::JobHistory::JobSearch.
      new(search_type: "search_linear_history") %>
  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_search_form.erb")),
          locals: { job_search: job_search }) %>
</div>
<div class="job_history_reset" />

<% linear_history = Resque::Plugins::JobHistory::JobList.new.linear_jobs %>

<% if linear_history.num_jobs > 0 %>
  <% jobs = linear_history.paged_jobs(@page_num, @page_size) %>
  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_linear_pagination.erb")),
          locals: { linear_history: linear_history,
                    page_num:       @page_num,
                    page_size:      @page_size }) %>

  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_job_list_table.erb")),
          locals: { jobs: jobs, show_class: true }) %>

  <%= erb(File.read(Resque::JobHistoryServer.erb_path("_linear_pagination.erb")),
          locals: { linear_history: linear_history,
                    page_num:       @page_num,
                    page_size:      @page_size }) %>
<% end %>

<br/>

<div>
  <form method="POST" action="<%= u("job_history/purge_linear_history") %>">
    <input type="submit" name="" value="Purge linear histories"/>
  </form>
</div>
<div class="job_history_reset"/>
